.header { padding: 25px 35px; display: flex; justify-content: space-between; }
.logo { cursor: pointer; width: 124px; display: flex; justify-content: space-between; }
.logo > img { width: 20px; height: 26px; }
.logo > h2 { font-family: 'JostN'; color: #65A3EB; font-weight: normal; margin: 0; margin-top: -4px; margin-left: 10px; }